@font-face {
    font-family: 'cooper_hewittbold';
    src: url('fonts/cooperhewitt-bold-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittbold_italic';
    src: url('fonts/cooperhewitt-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittbook';
    src: url('fonts/cooperhewitt-book-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittbook_italic';
    src: url('fonts/cooperhewitt-bookitalic-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittheavy';
    src: url('fonts/cooperhewitt-heavy-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittheavy_italic';
    src: url('fonts/cooperhewitt-heavyitalic-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-heavyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittlight';
    src: url('fonts/cooperhewitt-light-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittlight_italic';
    src: url('cooperhewitt-lightitalic-webfont.woff2') format('woff2'),
         url('cooperhewitt-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittmedium';
    src: url('fonts/cooperhewitt-medium-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittmedium_italic';
    src: url('fonts/cooperhewitt-mediumitalic-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittsemibold';
    src: url('fonts/cooperhewitt-semibold-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cooper_hewittsemibold_italic';
    src: url('fonts/cooperhewitt-semibolditalic-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}   

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on November 1, 2017 */

@font-face {
    font-family: 'aileronthin';
    src: url('fonts/aileron-thin-webfont.woff2') format('woff2'),
         url('fonts/aileron-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aileronthin_italic';
    src: url('fonts/aileron-thinitalic-webfont.woff2') format('woff2'),
         url('fonts/aileron-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aileronultralight';
    src: url('fonts/aileron-ultralight-webfont.woff2') format('woff2'),
         url('fonts/aileron-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aileronultralight_italic';
    src: url('fonts/aileron-ultralightitalic-webfont.woff2') format('woff2'),
         url('fonts/aileron-ultralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on November 1, 2017 */

@font-face {
    font-family: 'butchermanregular';
    src: url('fonts/butcherman-regular-webfont.woff2') format('woff2'),
         url('fonts/butcherman-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
    /*! Generated by Font Squirrel (https://www.fontsquirrel.com) on November 1, 2017 */


@font-face {
    font-family: 'league_gothicitalic';
    src: url('fonts/league-gothic-italic_fr.allfont.net-webfont.woff2') format('woff2'),
         url('fonts/league-gothic-italic_fr.allfont.net-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on November 1, 2017 */
@font-face {
    font-family: 'limelightregular';
    src: url('fonts/limelight-webfont.woff2') format('woff2'),
         url('fonts/limelight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on November 1, 2017 */



@font-face {
    font-family: 'paperwork_blackregular';
    src: url('fonts/paperwork_black-webfont.woff2') format('woff2'),
         url('fonts/paperwork_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'paperwork_dotsregular';
    src: url('fonts/paperwork_dots-webfont.woff2') format('woff2'),
         url('fonts/paperwork_dots-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'paperwork_outlineregular';
    src: url('fonts/paperwork_outline-webfont.woff2') format('woff2'),
         url('fonts/paperwork_outline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'paperwork_stripedregular';
    src: url('fonts/paperwork_striped-webfont.woff2') format('woff2'),
         url('fonts/paperwork_striped-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on November 1, 2017 */

@font-face {
    font-family: 'plasterregular';
    src: url('fonts/plaster-regular-webfont.woff2') format('woff2'),
         url('fonts/plaster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on November 1, 2017 */

@font-face {
    font-family: 'press_start_2pregular';
    src: url('fonts/pressstart2p-webfont.woff2') format('woff2'),
         url('fonts/pressstart2p-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on November 1, 2017 */

@font-face {
    font-family: 'ultraregular';
    src: url('fonts/ultra-webfont.woff2') format('woff2'),
         url('fonts/ultra-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on November 1, 2017 */



@font-face {
    font-family: 'unifrakturcookbold';
    src: url('fonts/unifrakturcook.bold-webfont.woff2') format('woff2'),
         url('fonts/unifrakturcook.bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'unifrakturcooklight';
    src: url('fonts/unifrakturcook.light-webfont.woff2') format('woff2'),
         url('fonts/unifrakturcook.light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on November 1, 2017 */

@font-face {
    font-family: 'righteousregular';
    src: url('fonts/righteous-regular-webfont.woff2') format('woff2'),
         url('fonts/righteous-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
