/* réinitialisations de base, ne pas toucher */
* {
    margin: 0;
    padding: 0;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    page-break-inside:avoid;
}



/* liens vers la typo */
@font-face {
font-family: 'League Gothic';
    src: url('fonts/leaguegothic-regular-webfont.eot');
    src: url('fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('fonts/leaguegothic-regular-webfont.svg#league_gothic_regularregular') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
font-family: 'bagnardregular';
    src: url('fonts/bagnard-webfont.woff2') format('woff2'),
         url('fonts/bagnard-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: 'abril_fatfaceregular';
    src: url('fonts/abrilfatface-regular-webfont.woff2') format('woff2'),
         url('fonts/abrilfatface-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: 'inconsolatamedium';
    src: url('fonts/inconsolata-webfont.woff2') format('woff2'),
         url('fonts/inconsolata-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
font-family: 'ewertregular';
    src: url('fonts/ewert-regular-webfont.woff2') format('woff2'),
         url('fonts/ewert-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: 'cooper_hewittmedium';
    src: url('fonts/cooperhewitt-medium-webfont.woff2') format('woff2'),
         url('fonts/cooperhewitt-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: 'bluu';
    src: url('fonts/bluunext-bold-webfont.woff2') format('woff2'),
         url('fonts/bluunext-bold-webfont.woff') format('woff'),
         url('fonts/bluunext-bold.ttf') format('truetype'),
         url('fonts/bluunext-bold-webfont.svg#bluu_nextbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: 'bluu2';
    src: url('fonts/bluunext-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/bluunext-bolditalic-webfont.woff') format('woff'),
         url('fonts/bluunext-bolditalic.ttf') format('truetype'),
         url('fonts/bluunext-bolditalic-webfont.svg#bluu_nextbold_italic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
font-family: 'catamaranmedium';
    src: url('fonts/catamaran-medium-webfont.woff2') format('woff2'),
         url('fonts/catamaran-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: 'el_messirimedium';
    src: url('fonts/elmessiri-medium-webfont.woff2') format('woff2'),
         url('fonts/elmessiri-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
font-family: 'playfair_displayregular';
    src: url('fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    font-family: 'League Gothic';
    background-color: black;
}


.hello {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 578px;
    left: 134px;
    font-family: 'abril_fatfaceregular';
    font-size: 40px;
    color: black;
}


.smiley {
    margin-left: -15vw;
    margin-top: 30px;
    width: 500px;
      -webkit-animation-name: spinnerRotate;
      -webkit-animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-name: spinnerRotate;
      -moz-animation-duration: 5s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;
      -ms-animation-name: spinnerRotate;
      -ms-animation-duration: 5s;
      -ms-animation-iteration-count: infinite;
      -ms-animation-timing-function: linear;

  }
  @-webkit-keyframes spinnerRotate
  {
      from{-webkit-transform:rotate(0deg);}
      to{-webkit-transform:rotate(360deg);}
  }
  @-moz-keyframes spinnerRotate
  {
      from{-moz-transform:rotate(0deg);}
      to{-moz-transform:rotate(360deg);}
  }
  @-ms-keyframes spinnerRotate
  {
      from{-ms-transform:rotate(0deg);}
      to{-ms-transform:rotate(360deg);}
  }

@keyframes anim1 {
0% {
    transform: translate(0, 0);
  }

20% {
    transform: translate(25vw, -40vh);
  }

40% {
    transform: translate(0, 42vh);
  }

60% {
    transform: translate(-70vw, -38vh);
  }

80% {
    transform: translate(30vw, 50vh);
  }

100% {
    transform: translate(0,-100vh)
  }

}/* FIN ANIM*/

.site-2 {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 600px;
    left: 1100px;
    animation: anim2 5s linear infinite alternate;
    font-family: 'abril_fatfaceregular';
    font-size: 200px;
    color: black;
}
.site-2:hover {
    animation-play-state: paused;
}
@keyframes anim2 {
0% {
    transform: translate(0, 20vw);
  }

100% {
    transform: translate(0,-120vw)
  }

}/* FIN ANIM*/



.site-5 {
      width: 300px;
      height: 200px;
      position: absolute;
      top: 600px;
      left: 1000px;
      animation: anim5 7s linear infinite alternate;
      font-family: 'cooper_hewittmedium';
      font-size: 200px;
      color: black;
  }
  .site-5:hover {
      animation-play-state: paused;
  }
@keyframes anim5 {
  0% {
      transform: translate(0, 20vw);
    }

  100% {
      transform: translate(0,-120vw)
    }

}/* FIN ANIM*/

.site-6 {
      width: 300px;
      height: 200px;
      position: absolute;
      top: 600px;
      left: 1200px;
      animation: anim6 9s linear infinite alternate;
      font-family: 'bluu';
      font-size: 120px;
      color: black;
  }
  .site-6:hover {
      animation-play-state: paused;
  }
@keyframes anim6 {
  0% {
      transform: translate(0, 20vw);
    }

  100% {
      transform: translate(0,-120vw)
    }

}/* FIN ANIM*/



.fontaisie {
    width: 700px;
    border-bottom: 6px solid black;
    padding: 30px 0;
    position: absolute;
    top: 405px;
    animation: anim7 7s linear infinite alternate;
}
.fontaisie:hover {
    animation-play-state: paused;
}

@keyframes anim7 {
0% {
    transform: translate(60vw, 0);
  }



100% {
    transform: translate(-40vw,0)
  }

}/* FIN ANIM*/

.fontaisie2 {
    width: 700px;
    border-bottom: 6px solid black;
    padding: 30px 0;
    position: absolute;
    top: 450px;
    animation: anim8 8s linear infinite alternate;
}
.fontaisie2:hover {
    animation-play-state: paused;
}

@keyframes anim8 {
0% {
    transform: translate(0, 0);
  }

50% {
    transform: translate(100vw,0);
  }

100% {
    transform: translate(-40vw, 0)
  }

}/* FIN ANIM*/

.fontaisie3 {
    width: 700px;
    border-bottom: 6px solid black;
    padding: 30px 0;
    position: absolute;
    top: 314px;
    animation: anim9 8s linear infinite alternate;
}
.fontaisie3:hover {
    animation-play-state: paused;
}

@keyframes anim9 {
0% {
    transform: translate(30vw, 0);
  }

50% {
    transform: translate(-50vw,0);
  }

100% {
    transform: translate(40vw, 0)
  }

}/* FIN ANIM*/

.fontaisie4 {
    width: 700px;
    border-bottom: 6px solid black;
    padding: 30px 0;
    position: absolute;
    top: 357px;
    animation: anim10 10s linear infinite alternate;
}
.fontaisie4:hover {
    animation-play-state: paused;
}

@keyframes anim10 {
0% {
    transform: translate(0, 0);
  }

50% {
    transform: translate(100vw,0);
  }

100% {
    transform: translate(40vw, 0)
  }

}/* FIN ANIM*/



.cyrilique {
  width: 20px;
  position: absolute;
  top: 10px;
  left: 200px;
  animation: anim11 5s linear infinite alternate;
}
.cyrilique:hover {
  animation-play-state: paused;
}

@keyframes anim11 {

  0% {
      transform: translate(0, 0);
    }

  100% {
      transform: translate(0,40vw)
    }

}/* FIN ANIM*/


.cube1 {
        background-color: black;
        position: absolute;
        top: 1px;
        right:49vw;
        width: 100px;
        height: 100px;
    animation: anim12 6s linear infinite alternate;

  }
  .cyrilique:hover {
    animation-play-state: paused;
  }
@keyframes anim12 {

      0% {
          transform: translate(0, 20vh);
        }

      100% {
          transform: translate(0,0);
        }


}/* FIN ANIM*/

.cube2 {
        background-color: blue;
        position: absolute;
        top: 1px;
        right: 42vw;
        width: 100px;
        height: 100px;

    animation: anim13 5s linear infinite alternate;

  }
  .cyrilique:hover {
    animation-play-state: paused;
  }

@keyframes anim13 {

      0% {
          transform: translate(0, 20vh);
        }

      100% {
          transform: translate(0,0);
        }

}/* FIN ANIM*/


/* RESPONSIVE */

/* ÉCRAN SEULEMENT */
@media screen {
    .print-only {
        display: none;
    }
}

/* ÉCRAN (VALEURS MINIMUM) */
@media screen and (min-width: 480px) {

}
/* ÉCRAN (VALEURS MAXIMUM) */
@media screen and (max-width: 480px) {
    .titre {
        color: red;
    }
}

/* IMPRESSION */

@media print {
    .titre {
        color: green;
    }
    .screen-only {
        display: none;
    }
}

@page {
    size: 210mm 297mm;
    margin: none;
}
