@-webkit-keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }
  10.5% {
    left: 0;
    top: 0;
  }
  12.5% {
    left: 200px;
    top: 0;
  }
  23% {
    left: 200px;
    top: 0;
  }
  25% {
    left: 400px;
    top: 0;
  }
  35.5% {
    left: 1000px;
    top: 0;
  }
  37.5% {
    left: 400px;
    top: 200px;
  }
  48% {
    left: 400px;
    top: 200px;
  }
  50% {
    left: 200px;
    top: 200px;
  }
  60.5% {
    left: 200px;
    top: 200px;
  }
  62.5% {
    left: 200px;
    top: 400px;
  }
  73% {
    left: 200px;
    top: 400px;
  }
  75% {
    left: 0;
    top: 400px;
  }
  85.5% {
    left: 0;
    top: 400px;
  }
  87.5% {
    left: 0;
    top: 200px;
  }
  98% {
    left: 0;
    top: 200px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@keyframes square-animation {
  0% {
    left: 0;
    top: 0;
  }
  10.5% {
    left: 0;
    top: 0;
  }
  12.5% {
    left: 200px;
    top: 0;
  }
  23% {
    left: 200px;
    top: 0;
  }
  25% {
    left: 400px;
    top: 0;
  }
  35.5% {
    left: 400px;
    top: 0;
  }
  37.5% {
    left: 400px;
    top: 200px;
  }
  48% {
    left: 400px;
    top: 200px;
  }
  50% {
    left: 200px;
    top: 200px;
  }
  60.5% {
    left: 200px;
    top: 200px;
  }
  62.5% {
    left: 200px;
    top: 400px;
  }
  73% {
    left: 200px;
    top: 400px;
  }
  75% {
    left: 0;
    top: 400px;
  }
  85.5% {
    left: 0;
    top: 400px;
  }
  87.5% {
    left: 0;
    top: 200px;
  }
  98% {
    left: 0;
    top: 200px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
@-webkit-keyframes hue-rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
@keyframes hue-rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
.animation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: right;
      -ms-flex-pack: rig;
          justify-content: right;
}

.loading {
  position: absolute;
  width: 600px;
  height: 1500px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: hue-rotate 100s linear infinite both;
          animation: hue-rotate 100s linear infinite both;
}

.loading__square {
  position: absolute;
  top: 0;
  left: 0;
  width: 196px;
  height: 196px;
  margin-left: 35px;
  margin-right: 100px;
  border-radius: 2px;
  background: #07a;
  background-image: -webkit-linear-gradient(45deg, #fa0 0%, #0c9 0%);
  background-image: linear-gradient(45deg, #fa0 0%, #0c9 0%);
  background-image: -moz-linear-gradient(#fa0, #fa0);
  background-size: cover;
  background-position: absolute;
  background-attachment: relative;
  -webkit-animation: square-animation 100s ease-in-out infinite both;
          animation: square-animation 100s ease-in-out infinite both;
}
.loading__square:nth-of-type(0) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.loading__square:nth-of-type(1) {
  -webkit-animation-delay: -14.28571s;
          animation-delay: -14.28571s;
}
.loading__square:nth-of-type(2) {
  -webkit-animation-delay: -28.57143s;
          animation-delay: -28.57143s;
}
.loading__square:nth-of-type(3) {
  -webkit-animation-delay: -42.85714s;
          animation-delay: -42.85714s;
}
.loading__square:nth-of-type(4) {
  -webkit-animation-delay: -57.14286s;
          animation-delay: -57.14286s;
}
.loading__square:nth-of-type(5) {
  -webkit-animation-delay: -71.42857s;
          animation-delay: -71.42857s;
}
.loading__square:nth-of-type(6) {
  -webkit-animation-delay: -85.71429s;
          animation-delay: -85.71429s;
}
.loading__square:nth-of-type(7) {
  -webkit-animation-delay: -100s;
          animation-delay: -100s;
}



@keyframes zoom {
  0%{
    opacity: 0;
  }
  
  100%{
    opacity: 1;
  }
}
@keyframes square {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(10)
  }
}
.square {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 5px solid hotpink;
  position: absolute;
  top: 30%;
  left: 40%;
}
.one {
  animation: square 5s  reverse infinite;
}
.two {
  animation: square 50s linear infinite;
}
.three {
  animation: square 10s reverse infinite;
}

.four {
  animation: square 4s linear infinite;
}

.five {
  animation: square 10s reverse infinite;
}

html, body {
  background: black;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: none;
}
 $color-1: red;


.dropnth-child
 $color-1: 


}


.drop:nth-child(1) {
  top: 17vh;
  left: 75vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(2) {
  top: 75vh;
  left: 65vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(3) {
  top: 29vh;
  left: 27vw;
  animation: drops 10s linear infinite;
}

.drop:nth-child(4) {
  top: 76vh;
  left: 97vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(5) {
  top: 8vh;
  left: 15vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(6) {
  top: 29vh;
  left: 66vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(7) {
  top: 10vh;
  left: 53vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(8) {
  top: 28vh;
  left: 3vw;
  animation: drops 1s linear infinite;
}

.drop:nth-child(9) {
  top: 53vh;
  left: 4vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(10) {
  top: 58vh;
  left: 40vw;
  animation: drops 10s linear infinite;
}

.drop:nth-child(11) {
  top: 30vh;
  left: 93vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(12) {
  top: 62vh;
  left: 56vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(13) {
  top: 64vh;
  left: 48vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(14) {
  top: 43vh;
  left: 69vw;
  animation: drops 1s linear infinite;
}

.drop:nth-child(15) {
  top: 51vh;
  left: 78vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(16) {
  top: 63vh;
  left: 70vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(17) {
  top: 32vh;
  left: 74vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(18) {
  top: 87vh;
  left: 53vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(19) {
  top: 15vh;
  left: 99vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(20) {
  top: 62vh;
  left: 96vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(21) {
  top: 50vh;
  left: 48vw;
  animation: drops 10s linear infinite;
}

.drop:nth-child(22) {
  top: 71vh;
  left: 79vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(23) {
  top: 2vh;
  left: 96vw;
  animation: drops 1s linear infinite;
}

.drop:nth-child(24) {
  top: 82vh;
  left: 50vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(25) {
  top: 12vh;
  left: 23vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(26) {
  top: 47vh;
  left: 23vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(27) {
  top: 31vh;
  left: 95vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(28) {
  top: 74vh;
  left: 51vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(29) {
  top: 88vh;
  left: 62vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(30) {
  top: 90vh;
  left: 54vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(31) {
  top: 80vh;
  left: 94vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(32) {
  top: 32vh;
  left: 89vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(33) {
  top: 50vh;
  left: 23vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(34) {
  top: 9vh;
  left: 75vw;
  animation: drops 1s linear infinite;
}

.drop:nth-child(35) {
  top: 54vh;
  left: 30vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(36) {
  top: 2vh;
  left: 54vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(37) {
  top: 70vh;
  left: 15vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(38) {
  top: 65vh;
  left: 52vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(39) {
  top: 37vh;
  left: 5vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(40) {
  top: 83vh;
  left: 26vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(41) {
  top: 26vh;
  left: 78vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(42) {
  top: 14vh;
  left: 36vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(43) {
  top: 54vh;
  left: 78vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(44) {
  top: 29vh;
  left: 7vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(45) {
  top: 16vh;
  left: 82vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(46) {
  top: 37vh;
  left: 5vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(47) {
  top: 61vh;
  left: 85vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(48) {
  top: 41vh;
  left: 79vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(49) {
  top: 82vh;
  left: 87vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(50) {
  top: 77vh;
  left: 63vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(51) {
  top: 12vh;
  left: 90vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(52) {
  top: 26vh;
  left: 95vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(53) {
  top: 76vh;
  left: 37vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(54) {
  top: 29vh;
  left: 71vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(55) {
  top: 15vh;
  left: 16vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(56) {
  top: 44vh;
  left: 35vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(57) {
  top: 58vh;
  left: 74vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(58) {
  top: 100vh;
  left: 91vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(59) {
  top: 47vh;
  left: 67vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(60) {
  top: 32vh;
  left: 81vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(61) {
  top: 83vh;
  left: 92vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(62) {
  top: 11vh;
  left: 93vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(63) {
  top: 20vh;
  left: 6vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(64) {
  top: 37vh;
  left: 23vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(65) {
  top: 33vh;
  left: 87vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(66) {
  top: 78vh;
  left: 93vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(67) {
  top: 57vh;
  left: 66vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(68) {
  top: 83vh;
  left: 51vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(69) {
  top: 50vh;
  left: 14vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(70) {
  top: 35vh;
  left: 90vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(71) {
  top: 34vh;
  left: 73vw;
  animation: drops 1s linear infinite;
}

.drop:nth-child(72) {
  top: 62vh;
  left: 49vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(73) {
  top: 57vh;
  left: 16vw;
  animation: drops 1s linear infinite;
}

.drop:nth-child(74) {
  top: 54vh;
  left: 82vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(75) {
  top: 81vh;
  left: 43vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(76) {
  top: 75vh;
  left: 21vw;
  animation: drops 1s linear infinite;
}

.drop:nth-child(77) {
  top: 94vh;
  left: 92vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(78) {
  top: 70vh;
  left: 69vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(79) {
  top: 79vh;
  left: 94vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(80) {
  top: 47vh;
  left: 76vw;
  animation: drops 1s linear infinite;
}

.drop:nth-child(81) {
  top: 32vh;
  left: 60vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(82) {
  top: 88vh;
  left: 44vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(83) {
  top: 18vh;
  left: 80vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(84) {
  top: 97vh;
  left: 4vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(85) {
  top: 67vh;
  left: 84vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(86) {
  top: 36vh;
  left: 66vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(87) {
  top: 95vh;
  left: 29vw;
  animation: drops 10s linear infinite;
}

.drop:nth-child(88) {
  top: 96vh;
  left: 3vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(89) {
  top: 100vh;
  left: 14vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(90) {
  top: 52vh;
  left: 14vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(91) {
  top: 22vh;
  left: 35vw;
  animation: drops 1s linear infinite;
}

.drop:nth-child(92) {
  top: 72vh;
  left: 54vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(93) {
  top: 88vh;
  left: 83vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(94) {
  top: 24vh;
  left: 56vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(95) {
  top: 78vh;
  left: 74vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(96) {
  top: 23vh;
  left: 32vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(97) {
  top: 84vh;
  left: 13vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(98) {
  top: 84vh;
  left: 76vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(99) {
  top: 95vh;
  left: 43vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(100) {
  top: 43vh;
  left: 85vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(101) {
  top: 32vh;
  left: 79vw;
  animation: drops 10s linear infinite;
}

.drop:nth-child(102) {
  top: 63vh;
  left: 81vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(103) {
  top: 4vh;
  left: 71vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(104) {
  top: 55vh;
  left: 62vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(105) {
  top: 86vh;
  left: 15vw;
  animation: drops 10s linear infinite;
}

.drop:nth-child(106) {
  top: 14vh;
  left: 97vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(107) {
  top: 26vh;
  left: 55vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(108) {
  top: 48vh;
  left: 91vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(109) {
  top: 21vh;
  left: 67vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(110) {
  top: 58vh;
  left: 98vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(111) {
  top: 46vh;
  left: 76vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(112) {
  top: 53vh;
  left: 49vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(113) {
  top: 7vh;
  left: 35vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(114) {
  top: 33vh;
  left: 38vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(115) {
  top: 63vh;
  left: 58vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(116) {
  top: 47vh;
  left: 19vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(117) {
  top: 54vh;
  left: 56vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(118) {
  top: 55vh;
  left: 41vw;
  animation: drops 10s linear infinite;
}

.drop:nth-child(119) {
  top: 39vh;
  left: 39vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(120) {
  top: 18vh;
  left: 21vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(121) {
  top: 32vh;
  left: 18vw;
  animation: drops 10s linear infinite;
}

.drop:nth-child(122) {
  top: 10vh;
  left: 90vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(123) {
  top: 31vh;
  left: 94vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(124) {
  top: 98vh;
  left: 2vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(125) {
  top: 30vh;
  left: 10vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(126) {
  top: 56vh;
  left: 30vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(127) {
  top: 100vh;
  left: 88vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(128) {
  top: 10vh;
  left: 52vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(129) {
  top: 65vh;
  left: 18vw;
  animation: drops 10s linear infinite;
}

.drop:nth-child(130) {
  top: 69vh;
  left: 48vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(131) {
  top: 6vh;
  left: 8vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(132) {
  top: 79vh;
  left: 88vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(133) {
  top: 42vh;
  left: 50vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(134) {
  top: 58vh;
  left: 24vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(135) {
  top: 94vh;
  left: 16vw;
  animation: drops 10s linear infinite;
}

.drop:nth-child(136) {
  top: 3vh;
  left: 26vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(137) {
  top: 90vh;
  left: 56vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(138) {
  top: 56vh;
  left: 11vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(139) {
  top: 31vh;
  left: 72vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(140) {
  top: 11vh;
  left: 23vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(141) {
  top: 34vh;
  left: 82vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(142) {
  top: 69vh;
  left: 79vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(143) {
  top: 87vh;
  left: 2vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(144) {
  top: 91vh;
  left: 40vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(145) {
  top: 94vh;
  left: 99vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(146) {
  top: 10vh;
  left: 15vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(147) {
  top: 45vh;
  left: 20vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(148) {
  top: 94vh;
  left: 76vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(149) {
  top: 50vh;
  left: 98vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(150) {
  top: 39vh;
  left: 8vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(151) {
  top: 37vh;
  left: 62vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(152) {
  top: 38vh;
  left: 61vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(153) {
  top: 89vh;
  left: 13vw;
  animation: drops 10s linear infinite;
}

.drop:nth-child(154) {
  top: 7vh;
  left: 53vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(155) {
  top: 17vh;
  left: 49vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(156) {
  top: 60vh;
  left: 60vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(157) {
  top: 5vh;
  left: 89vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(158) {
  top: 11vh;
  left: 62vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(159) {
  top: 63vh;
  left: 25vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(160) {
  top: 8vh;
  left: 63vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(161) {
  top: 30vh;
  left: 57vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(162) {
  top: 66vh;
  left: 67vw;
  animation: drops 10s linear infinite;
}

.drop:nth-child(163) {
  top: 66vh;
  left: 42vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(164) {
  top: 18vh;
  left: 40vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(165) {
  top: 35vh;
  left: 93vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(166) {
  top: 22vh;
  left: 37vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(167) {
  top: 73vh;
  left: 70vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(168) {
  top: 87vh;
  left: 28vw;
  animation: drops 1s linear infinite;
}

.drop:nth-child(169) {
  top: 5vh;
  left: 77vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(170) {
  top: 47vh;
  left: 83vw;
  animation: drops 10s linear infinite;
}

.drop:nth-child(171) {
  top: 46vh;
  left: 52vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(172) {
  top: 67vh;
  left: 97vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(173) {
  top: 89vh;
  left: 4vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(174) {
  top: 38vh;
  left: 18vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(175) {
  top: 75vh;
  left: 79vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(176) {
  top: 14vh;
  left: 60vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(177) {
  top: 19vh;
  left: 81vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(178) {
  top: 13vh;
  left: 84vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(179) {
  top: 16vh;
  left: 48vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(180) {
  top: 56vh;
  left: 10vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(181) {
  top: 20vh;
  left: 79vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(182) {
  top: 29vh;
  left: 98vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(183) {
  top: 36vh;
  left: 36vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(184) {
  top: 21vh;
  left: 77vw;
  animation: drops 10s linear infinite;
}

.drop:nth-child(185) {
  top: 9vh;
  left: 47vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(186) {
  top: 89vh;
  left: 58vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(187) {
  top: 90vh;
  left: 26vw;
  animation: drops 10s linear infinite;
}

.drop:nth-child(188) {
  top: 82vh;
  left: 57vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(189) {
  top: 48vh;
  left: 72vw;
  animation: drops 1s linear infinite;
}

.drop:nth-child(190) {
  top: 76vh;
  left: 14vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(191) {
  top: 96vh;
  left: 34vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(192) {
  top: 82vh;
  left: 11vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(193) {
  top: 69vh;
  left: 53vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(194) {
  top: 44vh;
  left: 74vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(195) {
  top: 95vh;
  left: 63vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(196) {
  top: 96vh;
  left: 69vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(197) {
  top: 55vh;
  left: 78vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(198) {
  top: 33vh;
  left: 37vw;
  animation: drops 10s linear infinite;
}

.drop:nth-child(199) {
  top: 8vh;
  left: 38vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(200) {
  top: 10vh;
  left: 68vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(201) {
  top: 60vh;
  left: 13vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(202) {
  top: 89vh;
  left: 97vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(203) {
  top: 89vh;
  left: 59vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(204) {
  top: 25vh;
  left: 7vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(205) {
  top: 12vh;
  left: 13vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(206) {
  top: 60vh;
  left: 26vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(207) {
  top: 51vh;
  left: 71vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(208) {
  top: 55vh;
  left: 16vw;
  animation: drops 10s linear infinite;
}

.drop:nth-child(209) {
  top: 22vh;
  left: 49vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(210) {
  top: 35vh;
  left: 97vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(211) {
  top: 97vh;
  left: 31vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(212) {
  top: 86vh;
  left: 29vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(213) {
  top: 36vh;
  left: 1vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(214) {
  top: 82vh;
  left: 49vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(215) {
  top: 10vh;
  left: 42vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(216) {
  top: 40vh;
  left: 8vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(217) {
  top: 82vh;
  left: 88vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(218) {
  top: 34vh;
  left: 54vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(219) {
  top: 91vh;
  left: 63vw;
  animation: drops 1s linear infinite;
}

.drop:nth-child(220) {
  top: 92vh;
  left: 71vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(221) {
  top: 96vh;
  left: 71vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(222) {
  top: 55vh;
  left: 12vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(223) {
  top: 54vh;
  left: 74vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(224) {
  top: 57vh;
  left: 17vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(225) {
  top: 89vh;
  left: 9vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(226) {
  top: 59vh;
  left: 18vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(227) {
  top: 64vh;
  left: 34vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(228) {
  top: 88vh;
  left: 98vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(229) {
  top: 59vh;
  left: 44vw;
  animation: drops 1s linear infinite;
}

.drop:nth-child(230) {
  top: 13vh;
  left: 46vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(231) {
  top: 19vh;
  left: 8vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(232) {
  top: 40vh;
  left: 9vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(233) {
  top: 94vh;
  left: 7vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(234) {
  top: 93vh;
  left: 7vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(235) {
  top: 11vh;
  left: 83vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(236) {
  top: 4vh;
  left: 54vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(237) {
  top: 91vh;
  left: 15vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(238) {
  top: 68vh;
  left: 78vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(239) {
  top: 31vh;
  left: 83vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(240) {
  top: 25vh;
  left: 18vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(241) {
  top: 46vh;
  left: 35vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(242) {
  top: 54vh;
  left: 24vw;
  animation: drops 1s linear infinite;
}

.drop:nth-child(243) {
  top: 53vh;
  left: 71vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(244) {
  top: 81vh;
  left: 17vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(245) {
  top: 78vh;
  left: 60vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(246) {
  top: 99vh;
  left: 63vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(247) {
  top: 63vh;
  left: 47vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(248) {
  top: 98vh;
  left: 56vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(249) {
  top: 93vh;
  left: 58vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(250) {
  top: 3vh;
  left: 64vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(251) {
  top: 77vh;
  left: 2vw;
  animation: drops 1s linear infinite;
}

.drop:nth-child(252) {
  top: 71vh;
  left: 79vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(253) {
  top: 77vh;
  left: 5vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(254) {
  top: 51vh;
  left: 31vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(255) {
  top: 32vh;
  left: 38vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(256) {
  top: 5vh;
  left: 78vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(257) {
  top: 28vh;
  left: 40vw;
  animation: drops 10s linear infinite;
}

.drop:nth-child(258) {
  top: 45vh;
  left: 52vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(259) {
  top: 40vh;
  left: 31vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(260) {
  top: 14vh;
  left: 32vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(261) {
  top: 79vh;
  left: 60vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(262) {
  top: 59vh;
  left: 70vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(263) {
  top: 60vh;
  left: 11vw;
  animation: drops 1s linear infinite;
}

.drop:nth-child(264) {
  top: 8vh;
  left: 59vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(265) {
  top: 30vh;
  left: 23vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(266) {
  top: 40vh;
  left: 40vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(267) {
  top: 86vh;
  left: 4vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(268) {
  top: 43vh;
  left: 32vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(269) {
  top: 4vh;
  left: 73vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(270) {
  top: 82vh;
  left: 77vw;
  animation: drops 1s linear infinite;
}

.drop:nth-child(271) {
  top: 54vh;
  left: 60vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(272) {
  top: 73vh;
  left: 51vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(273) {
  top: 61vh;
  left: 93vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(274) {
  top: 53vh;
  left: 52vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(275) {
  top: 69vh;
  left: 77vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(276) {
  top: 100vh;
  left: 49vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(277) {
  top: 84vh;
  left: 68vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(278) {
  top: 69vh;
  left: 58vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(279) {
  top: 26vh;
  left: 47vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(280) {
  top: 81vh;
  left: 20vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(281) {
  top: 90vh;
  left: 63vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(282) {
  top: 74vh;
  left: 17vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(283) {
  top: 11vh;
  left: 13vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(284) {
  top: 23vh;
  left: 62vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(285) {
  top: 38vh;
  left: 19vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(286) {
  top: 77vh;
  left: 60vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(287) {
  top: 33vh;
  left: 3vw;
  animation: drops 4s linear infinite;
}

.drop:nth-child(288) {
  top: 65vh;
  left: 48vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(289) {
  top: 47vh;
  left: 58vw;
  animation: drops 8s linear infinite;
}

.drop:nth-child(290) {
  top: 17vh;
  left: 46vw;
  animation: drops 2s linear infinite;
}

.drop:nth-child(291) {
  top: 38vh;
  left: 62vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(292) {
  top: 62vh;
  left: 22vw;
  animation: drops 1s linear infinite;
}

.drop:nth-child(293) {
  top: 84vh;
  left: 59vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(294) {
  top: 9vh;
  left: 95vw;
  animation: drops 9s linear infinite;
}

.drop:nth-child(295) {
  top: 36vh;
  left: 97vw;
  animation: drops 7s linear infinite;
}

.drop:nth-child(296) {
  top: 64vh;
  left: 5vw;
  animation: drops 6s linear infinite;
}

.drop:nth-child(297) {
  top: 56vh;
  left: 64vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(298) {
  top: 85vh;
  left: 15vw;
  animation: drops 5s linear infinite;
}

.drop:nth-child(299) {
  top: 92vh;
  left: 27vw;
  animation: drops 3s linear infinite;
}

.drop:nth-child(300) {
  top: 68vh;
  left: 45vw;
  animation: drops 5s linear infinite;
}

.drop {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  height: 50px;
  position: absolute;
  width: 1px;
}

@keyframes drops {
  0% {
    transform: translateY(-1000%);
  }
  100% {
    transform: translateY(2000%);
  }
} 

.grid {
  width: 1550px;
  height: 700px;
  overflow: hidden;
  perspective: 450px;
  position: absolute;
top: 100px;

}

.grid-fade {
  width: 100%;
  height: 100%;
  position: absolute;
  background: radial-gradient(ellipse at 50% 50%, rgba(14, 20, 22, 0) 0%, #0e1416 80%);

}

.grid-lines {
  width: 100%;
  height: 200%;
  background-image: linear-gradient(to right, rgba(7, 203, 121, 0.3) 1px, transparent 0), linear-gradient(to bottom, rgba(7, 203, 121, 0.3) 1px, transparent 0);
  background-size: 30px 30px;
  background-repeat: repeat;
  transform-origin: 100% 0 0;
  animation: play 15s linear infinite;
  position: absolute;

}

@keyframes play {
  0% {
    transform: rotateX(45deg) translateY(-50%);
  }
  100% {
    transform: rotateX(45deg) translateY(0);
  }
}



.spinner {
  margin: 10px auto;
  width: 1150px;
  height: 400px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  color: orange;
}

.spinner > div {
  background-color: orange;
  height: 100%;
  width: 100px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 0.2s infinite ease-in-out;
  animation: sk-stretchdelay 50s infinite ease-in-out;
}

.spinner .rect2 {
  width: 10px;
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  width: 10px;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.spinner .rect6 {
  width: 10px;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect7 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.spinner .rect8 {
  width: 10px;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect9 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.spinner .rect10 {
  width: 10px;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect11 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.spinner .rect12 {
  width: 10px;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}


@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(100) }  
  20% { -webkit-transform: scaleY(0.4) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(100);
    -webkit-transform: scaleY(0.9);
  }  20% { 
    transform: scaleY(0.6);
    -webkit-transform: scaleY(2.0);
  }
}

.gauche {
  width: 350px;
  height: 250px;
  display: inline-block;
  margin-right: 450px;
  margin-top: 200px;
  background-color: purple;
  position: absolute;
  -webkit-animation-name: drawRightLine;
          animation-name: drawRightLine;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 0% 0% 0px;
          transform-origin: 0% 0% 0px;
}
@-webkit-keyframes drawRightLine {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes drawRightLine {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.droite {
  width: 250px;
  height: 10px;
  display: inline-block;
  margin-right: 300px;
  margin-top: 10px;
  background-color: purple;
   position: relative;
  -webkit-animation-name: drawLeftLine;
          animation-name: drawLeftLine;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
}
@-webkit-keyframes drawLeftLine {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes drawLeftLine {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
.haut {
  height: 400px;
  width: 10px;
  display: inline-block;
  margin-right: 800px;
  margin-top: 300px;
  background-color: purple;
   position: absolute;
  -webkit-animation-name: drawUpLine;
          animation-name: drawUpLine;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}
@-webkit-keyframes drawUpLine {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleyY(1);
            transform: scaleyY(1);
  }
}
@keyframes drawUpLine {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleyY(1);
            transform: scaleyY(1);
  }
}
.bas {
  height: 200px;
  width: 10px;
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
  background-color: purple;
   position: absolute;
  -webkit-animation-name: drawDownLine;
          animation-name: drawDownLine;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
}
@-webkit-keyframes drawDownLine {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleyY(1);
            transform: scaleyY(1);
  }
}
@keyframes drawDownLine {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleyY(1);
            transform: scaleyY(1);
  }
}

#svg {
  width: 200px;
  height: 200px;
}
.chart {
  position: relative;
  margin: 30px auto 0 auto;
}
.upp {
  width: 100%;
  font-family: "Trebuchet", trebuchet, sans-serif;
  text-align: center;
  position: absolute;
  color: #777777;
}

.three {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  position: absolute;
  margin-left: 680px;
}


.circle-break, .reverse {
  width: 5vmin;
  height: 8vmin;
  background-color: blue;
  transform: translateX(0);

}

.circle-break {
  animation: spread 3s infinite;
  border-bottom-left-radius: 10vmin;
  border-top-left-radius: 10vmin;
}

.reverse {
  animation: reverse-spread 3s infinite;
  border-bottom-right-radius: 10vmin;
  border-top-right-radius: 10vmin;
  transform: translateX(0);
}



@keyframes spread {
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1.5vmin);
  }
  75% {
    transform: translate(-1.5vmin);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes reverse-spread {
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1.5vmin);
  }
  75% {
    transform: translate(1.5vmin);
  }
  100% {
    transform: translateX(0);
  }
}

