
.cooper_bold{
  font-family: 'cooper_hewittsemibold';
  font-size: 120px;
}

.cooper_bolditalic{
  font-family: 'cooper_hewittsemibold_italic';
  font-size: 120px;
}

.cooper_book{
  font-family: 'cooper_hewittbook';
  font-size: 120px;
}
.cooper_bookitalic{
  font-family: 'cooper_hewittbook_italic';
  font-size: 120px;
}
.cooper_heavy{
  font-family: 'cooper_hewittheavy';
  font-size: 120px;
}

.cooper_heavyitalic{
  font-family: 'cooper_hewittheavy_italic';
  font-size: 120px;
}
.cooper_medium{
  font-family: 'cooper_hewittmedium';
  font-size: 120px;
}

.cooper_mediumitalic{
  font-family: 'cooper_hewittmedium_italic';
  font-size: 120px;
}
.cooper_light{
  font-family: 'cooper_hewittlight';
  font-size: 120px;
}

.aileronthin{
  font-family: 'aileronthin';
  font-size: 120px;
}

.aileronthin_italic{
  font-family: 'aileronthin_italic';
  font-size: 120px;
}

.aileronultralight{
  font-family: 'aileronultralight';
  font-size: 120px;
}

.aileronultralight_italic{
  font-family: 'aileronultralight_italic';
  font-size: 120px;
}

.butcherman_regular{
  font-family: 'butchermanregular';
  font-size: 105px;
}

.league_gothicitalic{
  font-family: 'league_gothicitalic';
  font-size: 120px;
}

.limelightregular{
  font-family: 'limelightregular';
  font-size: 120px;
}
.paperwork_blackregular{
  font-family: 'paperwork_blackregular';
  font-size: 120px;
}

.paperwork_dotsregular{
  font-family: 'paperwork_dotsregular';
  font-size: 120px;
}

.paperwork_outlineregular{
  font-family: 'paperwork_outlineregular';
  font-size: 120px;
}

.paperwork_stripedregular{
  font-family: 'paperwork_stripedregular';
  font-size: 120px;
}

.plasterregular{
  font-family: 'plasterregular';
  font-size: 100px;
}

.press_start_2pregular{
  font-family: 'press_start_2pregular';
  font-size: 100px;
}

.ultraregular{
  font-family: 'ultraregular';
  font-size: 120px;
}
.unifrakturcookbold{
  font-family: 'unifrakturcookbold';
  font-size: 120px;
}

.unifrakturcooklight{
  font-family: 'unifrakturcooklight';
  font-size: 120px;
}

.righteousregular{
  font-family: 'righteousregular';
  font-size: 120px;
}



